doctype html

html
	head
		title="race_condition"
		link(href='/stylesheets/main.css' rel='stylesheet')
		script(type='text/javascript' src='https://d3js.org/d3.v5.min.js')
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
		script(type='text/javascript' src='/javascripts/leaderboards.js')

	body

		div(id="container")
			include ./header.pug
			
			div(id="body")

				h(class="header1") Top Coders

				div(id="chart" style="max-width: 600px; margin: 0 auto")
					select(id="drop")
				//-var jsonObj = JSON.parse(high_scorers)
				//p jsonObj

				//for high_scorer in high_scorers
				//	p #{high_scorer.username}
					//script.
					//	console.log(JSON.stringify(high_scorer));

			script.
					
				//console.log("#{user.username}");

				var user = !{JSON.stringify(user)};
				var most_solved = !{JSON.stringify(most_solved)};
				var most_won = !{JSON.stringify(most_won)};
				//console.log(most_);
				//console.log(user);
				//drawPlot(user, most_solved, most_won);
				init();



			include ./footer.pug