doctype html

html
	head
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title="race_condition"

		link(href='/stylesheets/codemirror.css' rel='stylesheet')
		link(href='/theme/dracula.css' rel='stylesheet')
		link(href='/theme/base16-dark.css' rel='stylesheet')
		link(href='/stylesheets/main.css' rel='stylesheet')
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
		script(type='text/javascript' src='/javascripts/lib/codemirror.js')
		script(type='text/javascript' src='/javascripts/mode/python/python.js')
		script(type='text/javascript' src='/javascripts/mode/scheme/scheme.js')
		script(type='text/javascript' src='/javascripts/mode/javascript/javascript.js')
		script(type='text/javascript' src='/javascripts/mode/haskell/haskell.js')
		script(type='text/javascript' src='/javascripts/lang_color.js')
		script(type='text/javascript' src='/javascripts/work_on.js')

	body


		div(id="container")

			include ./header.pug
			div(id="body")

				div(id="fadeDIV")
					h2 #{puzzle.name}
				
				if puzzle.difficulty === "easy"
					-var diff_color = "green";
				else if puzzle.difficulty === "moderate"
					-var diff_color = "yellow";
				else
					-var diff_color = "red";

				p
					em
						font(color="#cc9923") Difficulty: 
					font(color="#{diff_color}") #{puzzle.difficulty}


				p(style="margin-top: -30px")
					em
						font(color="#cc9923") Description:
					
				p(style="margin-left:60px; margin-right:60px; margin-top: -50px; text-align: justify;") !{puzzle.description}

				hr


				div
					form(action="" style="display:table-row")

						div(class="panel" id="code_panel" style="display: table-cell; position:relative; top:70px;")

							button(id="run_button" class="round-button")
								i(class="fa fa-play")
							
							br
							select(id="language" name="language")
								option(value="Python" selected) Python
								option(value="Scheme") Scheme
								option(value="JavaScript") JavaScript
								option(value="Haskell") Haskell

							img(id="logo", src="/images/" + "python" + ".svg", alt='logo', width="50px", class="imageRight")


						div.input(style="display: table-cell; position:relative; left: 25px; top:45px; right:25px; font-size:16px;")
							div(id="fadeDIV")
								label(for="function" class="code_label") Code Area
							textarea(name="function", id="codeeditor")



						div.input(style="display: table-cell; position:relative; left: 25px; top:45px; font-size:16px;")
							div(id="fadeDIV")
								label(for="output" class="code_label") Output
							textarea(id="codeoutput" name="output")

				br
				br
				br
				br
				br
				br
				button(class="button" id="edit_button" style="vertical-align:middle")
					span Continue Editing
				button(class="button" id="submit_button" style="vertical-align:middle")
					span Save this Solution

				br
				br
				hr


				script.
					var solutions = !{JSON.stringify(solutions)};
					//console.log(solutions);



			include ./footer.pug